services:
  mqtt:
    image: eclipse-mosquitto
    ports:
      - 1883:1883
      - 8888:8888
    volumes:
      - "./mosquitto/config:/mosquitto/config"
      - "./mosquitto/data:/mosquitto/data"
      - "./mosquitto/log:/mosquitto/log"
